*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*******************menu********************************************/
header{
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #ee9254;
    z-index: 100;
}
nav{
    display: table;
    margin: auto;
    height: 40px;
    
}
ul{
    display: flex;
    float: left;
    list-style: none;
}
ul li{
    float:left;
    margin: 15px;
    
}
ul a{
    color: #833a09;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
}
ul a:hover{
    background: rgba(210, 105, 30, 0);
    color: rgb(255, 255, 255);
    transition: 0.5s;
}
img#logo{
    width: 130px;
    float: left;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    
    

}
nav .btn-menu{
    display: none !important;
    color: #833a09;
    text-emphasis: none;
    font-size: 2em;
}
/*******************************cuerpo************************************/
#boddy{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(232, 195, 146);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-top: 70px;
    
}
#boddy > *{
    text-decoration: none;
}
.titulo{
    position: absolute;
    color: #833a09;
}
.efecto{
    position: relative;
    margin: 50px;
    width: 520px;
    height: 340px;
    background-size: 100% 100%;
    border: 1px solid rgb(226, 170, 118);
    box-shadow: -30px 30px 20px rgba(116, 69, 25, 0.3);
    transition: 1s;
}
.nom{
    padding: 310px 5px;
    color: #ca6b2c;
    
}
.bille01A{
    background-image: url(imagenes/Billeteras/bille01A.png);
}
.bille01A:hover{
    background-image: url(imagenes/Billeteras/bille01B.png);
}
.bille02A{
    background-image: url(imagenes/Billeteras/bille02A.png);
}
.bille02A:hover{
    background-image: url(imagenes/Billeteras/bille02B.png);
}
.bille03A{
    background-image: url(imagenes/Billeteras/bille03A.png);
}
.bille03A:hover{
    background-image: url(imagenes/Billeteras/bille03B.png);
}
.bille04A{
    background-image: url(imagenes/Billeteras/bille04A.png);
}
.bille04A:hover{
    background-image: url(imagenes/Billeteras/bille04B.png);
}
.bille05A{
    background-image: url(imagenes/Billeteras/bille05A.png);
}
.bille05A:hover{
    background-image: url(imagenes/Billeteras/bille05B.png);
}
.bille06A{
    background-image: url(imagenes/Billeteras/bille06A.png);
}
.bille06A:hover{
    background-image: url(imagenes/Billeteras/bille06B.png);
}
.bille07A{
    background-image: url(imagenes/Billeteras/bille07A.png);
}
.bille07A:hover{
    background-image: url(imagenes/Billeteras/bille07B.png);
}
.bille08A{
    background-image: url(imagenes/Billeteras/bille08A.png);
}
.bille08A:hover{
    background-image: url(imagenes/Billeteras/bille08B.png);
}
.bille09A{
    background-image: url(imagenes/Billeteras/bille09A.png);
}
.bille09A:hover{
    background-image: url(imagenes/Billeteras/bille09B.png);
}
.bille10A{
    background-image: url(imagenes/Billeteras/bille10A.png);
}
.bille10A:hover{
    background-image: url(imagenes/Billeteras/bille10B.png);
}
.bille11A{
    background-image: url(imagenes/Billeteras/bille11A.png);
}
.bille11A:hover{
    background-image: url(imagenes/Billeteras/bille11B.png);
}
.bille12A{
    background-image: url(imagenes/Billeteras/bille12A.png);
}
.bille12A:hover{
    background-image: url(imagenes/Billeteras/bille12B.png);
}
.bille13A{
    background-image: url(imagenes/Billeteras/bille13A.png);
}
.bille13A:hover{
    background-image: url(imagenes/Billeteras/bille13B.png);
}
.bille14A{
    background-image: url(imagenes/Billeteras/bille14A.png);
}
.bille14A:hover{
    background-image: url(imagenes/Billeteras/bille14B.png);
}
.bille15A{
    background-image: url(imagenes/Billeteras/bille15A.png);
}
.bille15A:hover{
    background-image: url(imagenes/Billeteras/bille15B.png);
}
.bille16A{
    background-image: url(imagenes/Billeteras/bille16A.png);
}
.bille16A:hover{
    background-image: url(imagenes/Billeteras/bille16B.png);
}
.bille17A{
    background-image: url(imagenes/Billeteras/bille17A.png);
}
.bille17A:hover{
    background-image: url(imagenes/Billeteras/bille17B.png);
}
.bille18A{
    background-image: url(imagenes/Billeteras/bille18A.png);
}
.bille18A:hover{
    background-image: url(imagenes/Billeteras/bille18B.png);
}
.bille19A{
    background-image: url(imagenes/Billeteras/bille19A.png);
}
.bille19A:hover{
    background-image: url(imagenes/Billeteras/bille19B.png);
}
.bille20A{
    background-image: url(imagenes/Billeteras/bille20A.png);
}
.bille20A:hover{
    background-image: url(imagenes/Billeteras/bille20B.png);
}
.bille21A{
    background-image: url(imagenes/Billeteras/bille21A.png);
}
.bille21A:hover{
    background-image: url(imagenes/Billeteras/bille21B.png);
}
.bille22A{
    background-image: url(imagenes/Billeteras/bille22A.png);
}
.bille22A:hover{
    background-image: url(imagenes/Billeteras/bille22B.png);
}
.bille23A{
    background-image: url(imagenes/Billeteras/bille23A.png);
}
.bille23A:hover{
    background-image: url(imagenes/Billeteras/bille23B.png);
}
.bille24A{
    background-image: url(imagenes/Billeteras/bille24A.png);
}
.bille24A:hover{
    background-image: url(imagenes/Billeteras/bille24B.png);
}
.bille25A{
    background-image: url(imagenes/Billeteras/bille25A.png);
}
.bille25A:hover{
    background-image: url(imagenes/Billeteras/bille25B.png);
}
.bille26A{
    background-image: url(imagenes/Billeteras/bille26A.png);
}
.bille26A:hover{
    background-image: url(imagenes/Billeteras/bille26B.png);
}
.bille27A{
    background-image: url(imagenes/Billeteras/bille27A.png);
}
.bille27A:hover{
    background-image: url(imagenes/Billeteras/bille27B.png);
}
.bille28A{
    background-image: url(imagenes/Billeteras/bille28A.png);
}
.bille28A:hover{
    background-image: url(imagenes/Billeteras/bille28B.png);
}
.bille29A{
    background-image: url(imagenes/Billeteras/bille29.png);
}
.bille29A:hover{
    background-size: 105% 105%;
}
.bille30A{
    background-image: url(imagenes/Billeteras/bille30A.png);
}
.bille30A:hover{
    background-size: 105% 105%;
}
.bille31A{
    background-image: url(imagenes/Billeteras/bille31A.png);
}
.bille31A:hover{
    background-size: 105% 105%;
}
.bille32A{
    background-image: url(imagenes/Billeteras/bille32A.png);
}
.bille32A:hover{
    background-size: 105% 105%;
}
.bille33A{
    background-image: url(imagenes/Billeteras/bille33A.png);
}
.bille33A:hover{
    background-size: 105% 105%;
}
.bille34A{
    background-image: url(imagenes/Billeteras/bille34A.png);
}
.bille34A:hover{
    background-image: url(imagenes/Billeteras/bille34B.png);
}
.bille35A{
    background-image: url(imagenes/Billeteras/bille35A.png);
}
.bille35A:hover{
    background-image: url(imagenes/Billeteras/bille35B.png);
}
.bille36A{
    background-image: url(imagenes/Billeteras/bille36A.png);
}
.bille36A:hover{
    background-image: url(imagenes/Billeteras/bille36B.png);
}
.bille37A{
    background-image: url(imagenes/Billeteras/bille37A.png);
}
.bille37A:hover{
    background-image: url(imagenes/Billeteras/bille37B.png);
}
.bille38A{
    background-image: url(imagenes/Billeteras/bille38A.png);
}
.bille38A:hover{
    background-size: 105% 105%;
}
.bille39A{
    background-image: url(imagenes/Billeteras/bille39A.png);
}
.bille39A:hover{
    background-size: 105% 105%;
}
.bille40A{
    background-image: url(imagenes/Billeteras/bille40A.png);
}
.bille40A:hover{
    background-size: 105% 105%;
}
.bille41A{
    background-image: url(imagenes/Billeteras/bille41A.png);
}
.bille41A:hover{
    background-size: 105% 105%;
}
.bille42A{
    background-image: url(imagenes/Billeteras/bille42A.png);
}
.bille42A:hover{
    background-image: url(imagenes/Billeteras/bille42B.png);
}
.bille43A{
    background-image: url(imagenes/Billeteras/bille43A.png);
}
.bille43A:hover{
    background-image: url(imagenes/Billeteras/bille43B.png);
}
.bille44A{
    background-image: url(imagenes/Billeteras/bille44A.png);
}
.bille44A:hover{
    background-image: url(imagenes/Billeteras/bille44B.png);
}
.bille45A{
    background-image: url(imagenes/Billeteras/bille45A.png);
}
.bille45A:hover{
    background-image: url(imagenes/Billeteras/bille45B.png);
}
.bille46A{
    background-image: url(imagenes/Billeteras/bille46A.png);
}
.bille46A:hover{
    background-image: url(imagenes/Billeteras/bille46B.png);
}
.bille47A{
    background-image: url(imagenes/Billeteras/bille47A.png);
}
.bille47A:hover{
    background-size: 105% 105%;
}
/*******************footer**************************************/
.footer{
    background-color:  #ee9254;
    line-height: 3;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    
}
.footer div{
    width: 15%;
    float: left;
}
.logopie{
    width: 80%;
    height: auto;
    
}
.log{
    padding: 20px;
    text-align: center;
    width: 300px;
}
.social .fab {
    font-size: 50px;
    padding-right: 30px;
    color: white;
}
.footer a{
    text-decoration: none;
    color: white;
}
h3{
    color: #833a09;
}
/********RESPONSIVE**********/
@media screen and (max-width:1024px){
    nav .btn-menu{
        display: block !important;
        float: left;
    }
    nav .enlaces{
        position: fixed;
        width: 100%;
        max-width: 300px;
        background: #ee9254;
        top: 70px;
        left: 0;
        display: none;
        padding: 10px 40px;
        box-sizing: border-box;
    }
    .enlaces a{
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        font-size: 15px;
        
    }
    .enlaces::before{
        content: "";
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid  #ee9254;
        position: absolute;
        top: -10px;
        left: 50px;
    }
    nav .uno{
        position: absolute;
        top: 230px;
    }
    .enlaces.active{
        display: block !important;
    }
    .footer{
        flex-wrap: wrap;
    }
    .footer h5{
        width: 90%;
        text-align: center;
    }
    .logopie{
        width: 200%;
        position: relative;
        top: 100px;
    }
}